name: Run tests

on: [push]

jobs:
  build:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 10.x
      - name: Install dependencies
        run: npm install
      - name: Install GraphQL
        run: npm install graphql
      - name: Build TS
        run: npm build
      - name: Check Prettier
        run: npm run prettier:check
      - name: Run tests
        run: npm run test
